[package]
name = "engawa-shared"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
documentation.workspace = true
categories.workspace = true
keywords.workspace = true
description = """
Shared utilities for Engawa
"""
publish = true

[dependencies]
chrono = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
